@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.intro {
    background-image: url('../images/Boston_Back_Bay_reflection_darker.jpg');
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 600px;
    max-height: 700px;
    
}

.intro-div {
    padding: 3em 1em ;
    text-align: center;
    justify-content: center;
    
}

.title {
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 52px;
    padding: 30px 10%;
    text-align: center;
    color: rgb(255, 255, 255);
}

.comment {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 30px 10%;
    text-align: center;
    color: rgb(252, 252, 252);
 }

 *{
     box-sizing: border-box;
     margin: 0;
 }

 .start-buttons {
     max-width: 500px;
     margin-right: auto;
     margin-left: auto;
     list-style-type: none;
     padding: 10px;
     overflow: hidden;
     align-items: center;
     display: flex;
     justify-content: space-evenly;

 }

 .contact-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-size: calc(60% + 1vw);;
    border-radius: 8px;
    border: 2px solid var(--theme-color);
 }

 .contact-button:hover{
     background-color: var(--theme-color);
     border: 2px solid var(--theme-color);
     transition-duration: 0.5s; 
}

 .contact-button a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
 }

.contact-button a:hover {
    color: white;
    transition-duration: 0.5s;
 }