
.projects .container {
    background-color: rgb(228, 228, 228);
    min-height: 800px;
}

.text-center {
    text-align: center!important;
}

.text-left {
    text-align: left!important;
}
.text-right {
    text-align: right!important;
}

.section-title {
    padding-bottom: 5%;
}

.projects .section-title h1{
    font-weight: 500;
}

.projects .section-title h1:before {
    left: 20%;
}

.projects .project-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects .project-content .box{
    min-width: 230px;
    flex: 0 0 calc(35.33% - 30px);
    max-width: calc(35.33% - 100px);
    max-width: 380px;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 30px;
    text-align: center; 
}

/*
.projects .project-content .box:hover{
    box-shadow: 0px 5px 15px var(--theme-color);
    transition: 0.5s ease;
}
*/


.projects .project-content .box h5{
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 0;
}

.projects .project-content .box p {
    color: #616161;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin: 10px 0 0;
}

.projects .project-content .box .symbol {
    height: 60px;
    width: 60px;
    background-color: var(--theme-color);
    margin: 0 auto 20px;
    border-radius: 50%;
    text-align: center;
}

.projects .project-content .box .fa {
    font-size: 25px;
    color: white;
    line-height: 60px;
}

.projects .project-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    
    
}

.projects .project-content .box .project-button {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    font-weight: 500;
    font-size: 10px;
    border-radius: 6px;
    border: 0px solid var(--theme-color);
    cursor: pointer;
 }

 .projects .project-content .box .project-button:hover{
    transition-duration: 0.3s;  
    background-color: var(--theme-color);
    border: 0px solid var(--theme-color);
     
}

.projects .project-content .box .project-button a, .project-button div{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
    
 }

 .projects .project-content .box .project-button a:hover, .project-button div:hover {
    color: white;
    transition-duration: 0.1s;
 }

 .ship-game {
     height: 400px;
     width: 600px;
     background-color: green;
 }

 .project-language {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding-top: 5%;
    text-align: center;
    color: rgb(27, 27, 27);
 }

 .project-date {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-top: 5%;
    text-align: center;
    color: #333;
 }

.preview {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.8);
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    position: fixed;
    top: 40px;
    right: 40px;
    cursor: pointer;
    max-width: 35px;
    filter: invert(1);
}

@media (max-width : 1300px) {
    .preview {
       max-width: 80%;
   }
}

@media (max-width : 1000px) {
    .preview {
       max-width: 90%;
   }
}

/* Project items*/

.projects .project-content .project {
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.projects .project-content .project .img-content{
    opacity: 0;
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0%;
    top: 0%;
    text-align: center;
    background-color: rgba(58, 57, 57, 0.7);
}

.projects .project-content .project:hover .img-content{
    transition-duration: 0.4s;
    opacity: 1;
}

.projects .project .img-title {
    color: white;
    font-size: 20px;
    padding: 10%;
}

.projects .project .img-button {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 65%;
}

.projects .project .project-button {
    padding: 3%;
}

.projects .project .project-language {
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

