

.Skills .container {
    background-color: rgb(202, 202, 202);
}

.Skills .section-title h1{
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 38px;
}

.Skills .section-title h1:before {
    left: 8%;
    right: 8%;
}

.Skills .skill-section {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: space-around;
    background-color: white;
    padding: 15px;
    margin: 2%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.Skills .skill-section h3 {
    padding-left: 12px;
    padding-bottom: 15px;
    font-weight: 500;
}
.Skills .skill-section .skill-box {
    display: flex;
    flex-wrap: wrap;
}

.Skills .skill-section .skill-box-item {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color:white;
    min-width: 90px;
    padding: 30px 5px;
    background-color: var(--theme-color);
    max-width: calc(30% - 20px);
    max-height: 70px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.Skills .skill-section .skill-box-item i {
    font-size: 20px;
}

.Skills .skill-section .skill-box-item:hover{
    background-color: white;
    border: 2px solid var(--theme-color);
    color: #333;
    transition: 1s ease;
}

.collapsible {
    padding: 0 18px;
    overflow: hidden;
    background-color: var(--theme-color);
    padding: 25px 25px;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 5px;
    text-align: left;
    border-radius: 5px;
    border: 2px solid transparent;
}

.collapsible .info-text, .caption{
    color:white;
    font-family: "Montserrat", sans-serif;
    padding-right: 35px;
    max-width: 900px;
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
}
.collapsible .caption {
    padding-bottom: 10px;
    font-weight: 600;
}

.collapsible .close-div {
    position: relative;
}

.collapsible .Close {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
    max-width: 20px;
    filter: invert(1);
}
