@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');


.navbar-header {
    display: flex;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
  }
  
.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.navbar-li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
    float: left;
}
  
.navbar-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    border-radius: 10px;
}
  
  /* Change the link color to #111 (black) on hover */
  
.navbar-li a:hover {
    border-radius: 20px;
    transition: 1s;
    background-color: var(--theme-color);
}


  
.logo {
    cursor: pointer;
}
  
.nav_links {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}
