

/* Global Variables */

:root {
  --theme-color: rgb(50, 140, 161);
}


.app {
min-height: 100vh;
background-color: var(--theme-color);
display: flex;
justify-content: space-around;
align-items: center;
}

.tweet {
  height: 300px;
  width: 200px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red{
  color: red;
}

.button {
  background-color: rgb(161, 122, 70);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

