@import "./components/Footer.css";
@import "./components/NavBar.css";
@import "./pages/About.css";
@import "./pages/Contact.css";
@import "./pages/HomePage.css";
@import "./pages/Projects.css";
@import "./pages/Recipe.css";
@import "./index.css";



/* Global Variables */


:root {
  --theme-color: rgb(10, 147, 201);
}

html {
  scroll-behavior: smooth;
}


.app {
display: flex;
justify-content: space-around;
align-items: center;
}

.red{
  color: red;
}

.button {
  background-color: rgb(161, 122, 70);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


